.home-container {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -60%);
    width: 90%;
}
.background-1
{
    height: 100%;
    width: 100%;
}

.home-title {
    font-size: 37.5px;
}

.member-list li{
    font-size: 25px;
}

.text-white {
    color: white;
}
