.home-container {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    width: 80%;
}
.background-1
{
    height: 100%;
    width: 100%;
}

.home-title {
    font-size: 40px;
}

.home-title-2 {
    font-size: 35px;
}

.member-list li{
    font-size: 30px;
}

.text-white {
    color: white;
}

li {
    list-style-position: inside;
}
