
.container-2 {
    margin: 0px 40px;
    padding: 10px;
}

.border-blue {
    border: solid #0584FE 2px;
}

.profile-image {
    width: 15%;
    display: inline-block;
    height: 150px;
}

.profile-text {
    width: 80%;
    display: inline-block;
    height: 150px;
    vertical-align: text-bottom;
    font-size: 25px;
}

.rounded-image-large {
    width: 150px;
    height: 150px;
    border-radius: 75px;
}

.employee-profile-username{
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 15px;
}
