.title {
    margin: 0px 40px;
    display: flex;
}

.border-bottom-gray {
    border-bottom: solid #979797 2px;
}

.left-div {
    width: 80%;
}

.right-div {
    width: 20%;
}

.navlink {
    margin: 20px;
    border: 10px 40px;
    border-style: line;
    padding: 10px;
}

.table {
    table-layout: auto;
    margin: 0px 40px;
}

.table tr:nth-child(even){background-color: #f2f2f2;}


.table-item {
    padding: 10px;
    text-align: center;
}

